<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for professor in professors %}
<div class="col-md-5">
  <h3>{{ professor.username}}</h3>
  <ul>
    {% for predmet in professor.predmeti_set.all %}
      <li> Predmet name: {{ predmet.name }}</li>
      <li><a class="btn btn-primary btn-sm btn-block" href="{% url 'delete_user' professor.id %}">Delete professor</a></li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
</body>
</html>