<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-md-5">
        <h5>Students</h5>
        <br>
        <div class="card card-body">
            
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Add upis</th>
                    <th>See upis</th>
                    <th>Delete student</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td><a class="btn btn-primary btn-sm " href ="{% url 'edituser' student.id %}">{{ student.username }}</a></td>
                    <td><a class="btn btn-primary btn-sm btn-block" href ="{% url 'addupis' student.id %}">Add</a></td>
                    <td><a class="btn btn-primary btn-sm " href ="{% url 'upis' student.id %}">Upisi</a></td>
                    <td><a class="btn btn-primary btn-sm btn-block" href="{% url 'delete_user' student.id %}">Delete student</a></td>
                    
                    
                </tr>                   
                {% endfor %} 
            </table>
        </div>
    </div>
</body>
</html>