<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-5">
            <h5>Student</h5>
            <br> 
            <a class="btn btn-primary btn-sm btn-block" href ="{% url 'predstud'  %}">See predmeti</a>
            <a class="btn btn-primary btn-sm btn-block" href ="{% url 'seeupis'  %}">See  upisi</a>
        </div>
    </div>
</body>
</html>