<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-5">
            <br>
            <div class="card card-body">
                <table class="table table-sa">
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Semestar_red</th>
                        <th>Semestar_van</th>
                    </tr>
                    {% for predmet in predmeti %}
                    <tr>
                        
                        <td>{{ predmet.name }}</td>
                        <td>{{ predmet.kod }}</td>
                        <td>{{predmet.sem_red}}</td>
                        <td>{{predmet.sem_izv}}</td>
                        <td><a class="btn btn-primary btn-sm btn-block" href ="{% url 'addupisstud' predmet.id %}">add upis</a></td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>